<div class="container">

{{#if numFrames}}
  {{#if currentBreak.player}}

<header>
    <!--h1>frame <strong>SNOOKER</strong> progress</h1-->
    <h3>&nbsp;</h3>
    <nav class="actions">
        <label {{action 'cambiaTurno' "1"}} class="_1Up">{{score._1UpName}}</label>
        <label class="_1Up">{{score._1UpCurrentFrame}}</label>
        <span>{{score._1UpFrames}}</span>
        <span class="_{{currentBreak.player}}Up"><small>({{numFrames}})</small></span>
        <span>{{score._2UpFrames}}</span>
        <label class="_2Up">{{score._2UpCurrentFrame}}</label>
        <label {{action 'cambiaTurno' "2"}} class="_2Up">{{score._2UpName}}</label>
    </nav>
</header>

  {{else}}

  <nav class="actions">
    {{#if score._1UpName}}
    <label {{action 'cambiaTurno' '1'}}>¿Empieza {{score._1UpName}}?</label>
    {{/if}}
    {{input value=score._1UpName class="form-control" placeholder="Ronnie O'Sullivan"}}
    <label>Vs.</label>
    {{input value=score._2UpName class="form-control" placeholder="Mark Selby"}}
    {{#if score._2UpName}}
    <label {{action 'cambiaTurno' '2'}}>¿Empieza {{score._2UpName}}?</label>
    {{/if}}
  </nav>

  {{/if}}

{{else}}

    <h3>¿A cuántos frames van?</h3>
    <nav class="actions">
      {{#each numFramesOptions as |numero|}}
        <label for="{{numero}}" {{action 'updateFrames' numero}}>{{numero}}</label>
      {{/each}}
    </nav>

{{/if}}

{{#if currentBreak.player}}


<nav class="actions">
{{#if soloColor}}
  {{#unless blackOut}}
    <label class="black" {{action 'black' '1'}}>1</label>
  {{/unless}}
  {{#unless pinkOut}}
  <label class="pink" {{action 'pink'}}>1</label>
  {{/unless}}
  {{#unless blueOut}}
    <label class="blue" {{action 'blue'}}>1</label>
  {{/unless}}
  {{#unless brownOut}}
    <label class="brown" {{action 'brown'}}>1</label>
  {{/unless}}
  {{#unless greenOut}}
    <label class="green" {{action 'green'}}>1</label>
  {{/unless}}
  {{#unless yellowOut}}
    <label class="yellow" {{action 'yellow'}}>1</label>
  {{/unless}}
    <label class="white" {{action 'white'}}>¿?</label>
{{else}}
  {{#if numRojas}}
    <label class="red" {{action 'red'}}>{{numRojas}}</label>
  {{/if}}
  <label class="black" {{action 'black'}}>..</label>
  <label class="pink" {{action 'pink'}}>..</label>
  <label class="blue" {{action 'blue'}}>..</label>
  <label class="brown" {{action 'brown'}}>..</label>
  <label class="green" {{action 'green'}}>..</label>
  <label class="yellow" {{action 'yellow'}}>..</label>
  <label class="white" {{action 'white'}}>¿?</label>
{{/if}}

</nav>



<section>
  <article>
{{#if puntosPosibles}}
{{#if currentBreak._1UpActive}}
    <input type="radio" name="olor" id="red" checked>
    <input type="radio" name="olor" id="lime">
{{else}}
    <input type="radio" name="olor" id="red">
    <input type="radio" name="olor" id="lime" checked>
{{/if}}

    <div class="chart navy">
        <div class="bar bar-{{breakPorcentaje}} lightGray">
            <div class="face top">
                <div class="growing-bar">
{{#if currentBreak.red}}
<span class="badge red">{{currentBreak.red}}</span>
{{/if}}
{{#if currentBreak.yellow}}
<span class="badge yellow">{{currentBreak.yellow}}</span>
{{/if}}
{{#if currentBreak.green}}
<span class="badge green">{{currentBreak.green}}</span>
{{/if}}
{{#if currentBreak.brown}}
<span class="badge brown">{{currentBreak.brown}}</span>
{{/if}}
{{#if currentBreak.blue}}
<span class="badge blue">{{currentBreak.blue}}</span>
{{/if}}
{{#if currentBreak.pink}}
<span class="badge pink">{{currentBreak.pink}}</span>
{{/if}}
{{#if currentBreak.black}}
<span class="badge black">{{currentBreak.black}}</span>
{{/if}}

                </div>{{currentBreak.total}}
            </div>
            <div class="face side-0">
                <div class="growing-bar"></div>
            </div>
            <div class="face floor">
                <div class="growing-bar"></div>
            </div>
            <div class="face side-a"></div>
            <div class="face side-b"></div>
            <div class="face side-1">
                <div class="growing-bar"></div>
            </div>
        </div>
    </div>
{{/if}}
  </article>
</section>


<section>
<!--p>ulti roja: {{isLastRed}} soloColor: {{soloColor}} tocaColor: {{tocaColor}}</p-->
{{#if graphs3D}}
  <article>
{{#if puntosPosibles}}
    <input type="radio" name="switch-color" id="cyan" checked>
    <div class="chart">
        <div class="bar bar-{{puntosPosiblesPorcentaje}} lightGray">
            <div class="face top">
{{#if numRojas}}
                <div class="growing-bar">
      <span class="badge red">{{numRojas}}</span>
                </div>{{puntosPosibles}}
{{else}}
                <div class="growing-bar">
                </div>{{puntosPosibles}}
{{#unless yellowOut}}<span class="badge yellow">1</span>{{/unless}}
{{#unless greenOut}}<span class="badge green">1</span>{{/unless}}
{{#unless brownOut}}<span class="badge brown">1</span>{{/unless}}
{{#unless blueOut}}<span class="badge blue">1</span>{{/unless}}
{{#unless pinkOut}}<span class="badge pink">1</span>{{/unless}}
{{#unless blackOut}}<span class="badge black">1</span>{{/unless}}
{{/if}}
            </div>
            <div class="face side-0">
                <div class="growing-bar"></div>
            </div>
            <div class="face floor">
                <div class="growing-bar">{{puntosPosibles}}</div>
            </div>
            <div class="face side-a"></div>
            <div class="face side-b"></div>
            <div class="face side-1">
                <div class="growing-bar"></div>
            </div>
        </div>
    </div>
{{/if}}
  </article>
{{else}}
  <article>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar"
        aria-valuenow="60" aria-valuemin="0" aria-valuemax="147"
        style="width: {{puntosPosiblesPorcentaje}}%;">
        {{puntosPosibles}}
      </div>
      <span class="badge red">{{numRojas}}</span>
      <span class="badge yellow">1</span>
      <span class="badge green">1</span>
      <span class="badge brown">1</span>
      <span class="badge blue">1</span>
      <span class="badge pink">1</span>
      <span class="badge black">1</span>
    </div>
  </article>
{{/if}}
</section>



{{/if}}

<section>
  <article>
{{#each breaks as |pastBreak|}}
{{#if graphs3D}}

{{#if pastBreak._1UpActive}}
    <input type="radio" name="olor" id="red" checked>
    <input type="radio" name="olor" id="lime">
{{else}}
    <input type="radio" name="olor" id="red">
    <input type="radio" name="olor" id="lime" checked>
{{/if}}

    <div class="chart navy">
        <div class="smallbar bar-{{pastBreak.total}} lightGray">
            <div class="face top">
                <div class="growing-bar">
{{#if pastBreak.red}}
<span class="badge red">{{pastBreak.red}}</span>
{{/if}}
{{#if pastBreak.yellow}}
<span class="badge yellow">{{pastBreak.yellow}}</span>
{{/if}}
{{#if pastBreak.green}}
<span class="badge green">{{pastBreak.green}}</span>
{{/if}}
{{#if pastBreak.brown}}
<span class="badge brown">{{pastBreak.brown}}</span>
{{/if}}
{{#if pastBreak.blue}}
<span class="badge blue">{{pastBreak.blue}}</span>
{{/if}}
{{#if pastBreak.pink}}
<span class="badge pink">{{pastBreak.pink}}</span>
{{/if}}
{{#if pastBreak.black}}
<span class="badge black">{{pastBreak.black}}</span>
{{/if}}

                </div>{{pastBreak.total}}
            </div>
            <div class="face side-0">
                <div class="growing-bar"></div>
            </div>
            <div class="face floor">
                <div class="growing-bar"></div>
            </div>
            <div class="face side-a"></div>
            <div class="face side-b"></div>
            <div class="face side-1">
                <div class="growing-bar"></div>
            </div>
        </div>
    </div>

{{else}}
<div class="progress">
  <div class="progress-bar progress-bar-info _{{pastBreak.player}}Up" role="progressbar"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="147"
    style="width: {{pastBreak.total}}%;">
    {{pastBreak.total}}
  </div>

{{#if pastBreak.red}}
<span class="badge red">{{pastBreak.red}}</span>
{{/if}}
{{#if pastBreak.yellow}}
<span class="badge yellow">{{pastBreak.yellow}}</span>
{{/if}}
{{#if pastBreak.green}}
<span class="badge green">{{pastBreak.green}}</span>
{{/if}}
{{#if pastBreak.brown}}
<span class="badge brown">{{pastBreak.brown}}</span>
{{/if}}
{{#if pastBreak.blue}}
<span class="badge blue">{{pastBreak.blue}}</span>
{{/if}}
{{#if pastBreak.pink}}
<span class="badge pink">{{pastBreak.pink}}</span>
{{/if}}
{{#if pastBreak.black}}
<span class="badge black">{{pastBreak.black}}</span>
{{/if}}
</div>

{{/if}}

{{/each}}
</article>
</section>


{{outlet}}
</div>

