<div class="container jumbotron">

{{#if numFrames}}
  {{#if currentBreak.player}}
<h2>
<button type="button" {{action 'cambiaTurno' "1"}} 
class="btn _1Up">{{score._1UpName}}</button>
 {{score._1UpCurrentFrame}} {{score._1UpFrames}} ({{numFrames}}) {{score._2UpFrames}} {{score._2UpCurrentFrame}} 
<button type="button" {{action 'cambiaTurno' "2"}} 
class="btn _2Up">{{score._2UpName}}</button>
</h2>


  {{else}}
    {{input value=score._1UpName}} vs. {{input value=score._2UpName}} 
  {{/if}}

  <!--h2>
  {{#if currentBreak.player}}
    <span class="badge"><h3 title="Puntos posibles">{{puntosPosibles}}</h3></span>
    ({{numFrames}})
    <span class="badge red"><h3 title="Total rojas">{{numRojas}}</h3></span>
  {{else}}
    ({{numFrames}})
  {{/if}}
  </h2-->

{{else}}

  <p>¿A cuántos frames van?</p>
    <div class="btn-toolbar">
      {{#each numFramesOptions as |numero|}}
<button type="button" {{action 'updateFrames' numero}} class="btn btn-info">{{numero}}</button>
      {{/each}}
      </div>


{{/if}}




{{#if currentBreak.player}}

<h3>

</h3>

<div class="progress">
{{#if currentBreak._1UpActive}}
{{score._1UpName}}
{{else}}
{{score._2UpName}}
{{/if}}
 {{currentBreak.total}}

{{#if currentBreak.red}}
<span class="badge red">{{currentBreak.red}}</span>
{{/if}}
{{#if currentBreak.yellow}}
<span class="badge yellow">{{currentBreak.yellow}}</span>
{{/if}}
{{#if currentBreak.green}}
<span class="badge green">{{currentBreak.green}}</span>
{{/if}}
{{#if currentBreak.brown}}
<span class="badge brown">{{currentBreak.brown}}</span>
{{/if}}
{{#if currentBreak.blue}}
<span class="badge blue">{{currentBreak.blue}}</span>
{{/if}}
{{#if currentBreak.pink}}
<span class="badge pink">{{currentBreak.pink}}</span>
{{/if}}
{{#if currentBreak.black}}
<span class="badge black">{{currentBreak.black}}</span>
{{/if}}

  <div class="progress-bar progress-bar-default" role="progressbar"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="147"
    style="width: {{breakPorcentaje}}%;">
    {{currentBreak.total}}
  </div>
</div>


<h1>
  <div class="btn-toolbar">
{{#unless tocaColor}}
    <button type="button" class="btn badge red" {{action 'red'}} disabled={{quitaRojas}}>.</button>
{{/unless}}
{{#if tocaColor}}
  {{#unless blackOut}}
    <button type="button" class="btn badge black" {{action 'black'}}>.</button>
  {{/unless}}
  {{#unless pinkOut}}
  <button type="button" class="btn badge pink" {{action 'pink'}}>.</button>
  {{/unless}}
  {{#unless blueOut}}
    <button type="button" class="btn badge blue" {{action 'blue'}}>.</button>
  {{/unless}}
  {{#unless brownOut}}
    <button type="button" class="btn badge brown" {{action 'brown'}}>.</button>
  {{/unless}}
  {{#unless greenOut}}
    <button type="button" class="btn badge green" {{action 'green'}}>.</button>
  {{/unless}}
  {{#unless yellowOut}}
    <button type="button" class="btn badge yellow" {{action 'yellow'}}>.</button>
  {{/unless}}
{{/if}}
  </div>
</h1>

<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="147"
    style="width: {{puntosPosiblesPorcentaje}}%;">
    {{puntosPosibles}}
  </div>
</div>

{{else}}

    <br/><br/>
    <div class="btn-toolbar">
  {{#if score._1UpName}}
<button type="button" {{action 'cambiaTurno' '1'}} class="btn btn-info">¿Empieza {{score._1UpName}}?</button>
  {{/if}}

  {{#if score._2UpName}}
<button type="button" {{action 'cambiaTurno' '2'}} class="btn btn-info">¿Empieza {{score._2UpName}}?</button>
  {{/if}}
    </div>

{{/if}}


{{#each breaks as |pastBreak|}}
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="147"
    style="width: {{pastBreak.total}}%;">
{{#if pastBreak._1UpActive}}
{{score._1UpName}}
{{else}}
{{score._2UpName}}
{{/if}}
    {{pastBreak.total}}
  </div>

{{#if pastBreak.red}}
<span class="badge red">{{pastBreak.red}}</span>
{{/if}}
{{#if pastBreak.yellow}}
<span class="badge yellow">{{pastBreak.yellow}}</span>
{{/if}}
{{#if pastBreak.green}}
<span class="badge green">{{pastBreak.green}}</span>
{{/if}}
{{#if pastBreak.brown}}
<span class="badge brown">{{pastBreak.brown}}</span>
{{/if}}
{{#if pastBreak.blue}}
<span class="badge blue">{{pastBreak.blue}}</span>
{{/if}}
{{#if pastBreak.pink}}
<span class="badge pink">{{pastBreak.pink}}</span>
{{/if}}
{{#if pastBreak.black}}
<span class="badge black">{{pastBreak.black}}</span>
{{/if}}

</div>

{{/each}}


</div>
{{outlet}}
